/* VAR */
:root{
    /* colors */
    --ms_light-black: #1F1F1F;
    --ms_gray: #BEBCBB;
    --ms_txt-black: #777777;
    
    --ms_light-blue: #2285D4;
    --ms_main-blue: #00439C;
    --ms_dark-blue: #161C3B;
    
    --ms_main-orange: #CD3D0F;

    --ms_light-brown: #BEBCBB;
    --ms_off-white: #D9DADC;
}
/* VAR */

/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 2rem;
}

p{
    font-weight: 600;
}

.section-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.section-heading h1,
.section-heading h2{
    margin-bottom: 1.5rem;
}

.ms_text-light p{
    color: var(--ms_txt-black);
}

/* buttons */
.ms_btn{
    border-radius: 50px;
}

.ms_btn-dark{
    background-color: var(--ms_light-black);
}

.ms_btn-orange{
    background-color: var(--ms_main-orange);
}

.ms_btn-light{
    background-color: var(--ms_off-white);
    color: var(--ms_light-blue);
    font-weight: 500;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    box-shadow: inset 5px -5px 10px 93px rgba(0, 0, 0, 0.3);
}

:not(.btn-check)+.btn.ms_btn-orange:hover{
    background-color:var(--ms_main-orange);
    outline: 1px solid var(--ms_main-orange);
}

.btn.ms_btn-dark:first-child:hover{
    background-color:black;
    outline: 1px solid black;
}

:not(.btn-check)+.btn.btn-primary:hover{
    background-color:var(--ms_light-blue);
    outline: 1px solid var(--ms_light-blue);
}

:not(.btn-check)+.btn.ms_btn-light:hover{
    background-color:var(--ms_off-white);
    outline: 1px solid var(--ms_off-white);
}
/* /buttons */
/* /COMMON */

/* HEADER */
.header-top{
    background-color: black;
    height: 45px;
    line-height: 45px;
}

.header-top-logo{
    width: 75px;
}

.header-bottom .nav-link{
    color:black;
}

.ms_chevron{
    width: .5rem;
}

.ms_chevron-up{
    display: none;
    width: .5rem;
}

.nav-item:hover .ms_chevron{
    display: none;
}

.nav-item:hover .ms_chevron-up{
    display: inline-block;
}

.header-bottom .ms_btn{
    margin-left: 1rem;
}

.search-items{
    font-size: 1.3rem;
    vertical-align: sub;
}

/* dropdown-menu */
.ms_dropdown-menu{
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 77%;
    left: 0;
    display:none;
}

.navbar-nav .nav-item:hover .ms_dropdown-menu{
    display: block;
}

.ms_dropdown-menu img{
    width: 50%;
}

.ms_dropdown-menu ul li{
    margin: 0 1.2rem;
    padding: 0;
}

.ms_list li::before{
  content: "\2022";
  color: var(--ms_light-blue);
  font-weight: 500;
  display: inline-block;
  width: 1em;
  font-size: 2rem;
  vertical-align: sub;
  margin: 0 -.8rem;
}

.ms_dropdown-menu ul:first-child li:hover{
    box-shadow: 0px 0px 2px 2px transparent;
}

.ms_dropdown-menu ul:first-child li:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* /dropdown-menu */
/* /HEADER */

/* MAIN */
.section-heading{
    margin: 2rem 0
}

/* jumbotron */
#jumbotron-top{
    margin-top: 121px;
    padding-top: 0
}

.jumbo-banner{
    min-height: 600px;
    padding: 2.5rem 0;
    background-size: cover;
    background-position: center;
}

.jumbo-top{
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-mid{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.col-info h2{
    font-size: 2.3rem
}

.carousel-img{
    border-radius: 10px;
    overflow: hidden;
}

.carousel-active{
    position: relative;
}

.carousel-active::before{
    content: "";
    display: inline-block;
    outline: 2px solid var(--ms_light-blue);
    border-radius: 10px;
    height: 104%;
    width: 102%;
    position: absolute;
    top: -2%;
    left: -1%;
    z-index: -1;
}

.carousel-card{
    position: relative;
    bottom: 0;
    left: 0;
    transition: all 125ms linear;
}

.carousel-card:hover{
    position: relative;
    bottom: 10px;
    left: 0;
}

.jumbo-carousel-mid{
    background-color: var(--ms_light-black);
}

.carousel-txt h5{
    font-size: .8rem;
}
/* /jumbotron */

/* Section:ps5 */
.section-heading h6{
    color: var(--ms_light-blue);
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

#ps5 .ms_card{
    opacity: .5;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 125ms linear;
}

#ps5 .ms_card:hover{
    opacity:.8;
    border-bottom: 2px solid var(--ms_light-blue);;
}

#ps5 .ms_card-active{
    opacity: 1;
    border-bottom: 2px solid var(--ms_light-blue);
}

.ms_card-txt h5{
    font-size: .9rem;
}
/* /Section:ps5 */

/* Section:ps-plus */
.wrapper-plus{
    background-color: var(--ms_light-brown);
}
/* /Section:ps-plus */

/* section:ps-now */
.wrapper-now{
    background-color: var(--ms_dark-blue);
}
/* /section:ps-now */
/* /MAIN */

/* FOOTER */
footer{
    padding: 5rem 0;
    background-color: var(--ms_main-blue);
}

.footer-top-info img{
    width: 4%;
    margin-right: .5rem;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

.footer-bottom img{
    width: 20%;
}

.footer-bottom a{
    text-decoration: underline;
}
/* /FOOTER */