/* VAR */
:root{
    /* colors */
    --ms_light-black: #1F1F1F;
    --ms_gray: #BEBCBB;
    --ms_txt-black: #777777;
    
    --ms_light-blue: #167ED2;
    --ms_main-blue: #00439C;
    --ms_dark-blue: #161C3B;
    
    --ms_main-orange: #CD3D0F;

    --ms_light-brown: #BEBCBB;
    --ms_off-white: #D9DADC;
}
/* VAR */

/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 2rem;
}

.section-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.section-heading h1,
.section-heading h2{
    margin-bottom: 1.5rem;
}

.ms_text-light p{
    color: var(--ms_txt-black);
}
/* buttons */
.ms_btn{
    border-radius: 50px;
}

.ms_btn-dark{
    background-color: var(--ms_light-black);
    color: white;
}

.ms_btn-orange{
    background-color: var(--ms_main-orange);
    color: white;
}

.ms_btn-light{
    background-color: var(--ms_off-white);
    color: var(--ms_light-blue);
    color: white;
}
/* /buttons */
/* /COMMON */

/* HEADER */
.header-top{
    background-color: black;
    height: 45px;
    line-height: 45px;
}

.header-top-logo{
    width: 75px;
}

.header-bottom{
    background-color: white;
}

.header-bottom .nav-link{
    color:black;
}

.ms_chevron{
    width: .5rem;
}

.header-bottom .ms_btn{
    margin-left: 1rem;
}

.search-items{
    font-size: 1.3rem;
    vertical-align: sub;
}
/* /HEADER */

/* MAIN */
.section-heading{
    margin: 2rem 0
}
/* jumbotron */
#jumbotron-top{
    margin-top: 121px;
    padding-top: 0
}

.jumbo-banner{
    color: white;
    min-height: 600px;
    padding: 2.5rem 0;
    background-size: cover;
    background-position: center;
}

.jumbo-top{
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-mid{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.col-info h2{
    font-size: 2.3rem
}

.carousel-img{
    border-radius: 10px;
    overflow: hidden;
}

.carousel-active{
    position: relative;
}

.carousel-active::before{
    content: "";
    display: inline-block;
    border: 2px solid var(--ms_light-blue);
    border-radius: 10px;
    height: 106%;
    width: 106%;
    position: absolute;
    top: -3%;
    left: -3%;
}

.jumbo-carousel-mid{
    background-color: var(--ms_light-black);
    color: white;
}

.carousel-txt h5{
    font-size: .8rem;
}
/* /jumbotron */

/* Section:ps5 */
.section-heading h6{
    color: var(--ms_light-blue);
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

#ps5 .ms_card{
    opacity: .5;
    text-align: center;
}

#ps5 .ms_card-active{
    opacity: 1;
    border-bottom: 2px solid var(--ms_light-blue);
}

.ms_card-txt h5{
    font-size: 1rem;
}
/* /Section:ps5 */

/* Section:ps-plus */
.wrapper-plus{
    background-color: var(--ms_light-brown);
}
/* /Section:ps-plus */

/* section:ps-now */
.wrapper-now{
    background-color: var(--ms_dark-blue);
    color:white;
}
/* /section:ps-now */
/* /MAIN */

/* FOOTER */
footer{
    background-color: var(--ms_main-blue);
    color: white;
}

.footer-top-info img{
    width: 5%;
}

.footer-bottom img{
    width: 20%;
}
/* /FOOTER */